{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Usuarios</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id usuario</th>
                <th>Usuario</th>
                <th>Contraseña</th>
                <th>Rol</th>
                <th>Usuario de creación</th>
                <th>Fecha de creación</th>
                <th>Usuario de actualización</th>
                <th>Fecha de actualización</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'idUsuario': usuario.idUsuario }) }}">{{ usuario.idUsuario }}</a></td>
                <td>{{ usuario.usuario }}</td>
                <td>{{ usuario.contrasenia }}</td>
                <td>{{ usuario.rol }}</td>
                <td>{{ usuario.usuarioCreacion }}</td>
                <td>{% if usuario.fechaCreacion %}{{ usuario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ usuario.usuarioActualizacion }}</td>
                <td>{% if usuario.fechaActualizacion %}{{ usuario.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('usuario_show', { 'idUsuario': usuario.idUsuario }) }}">mostrar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('usuario_edit', { 'idUsuario': usuario.idUsuario }) }}">editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('usuario_new') }}">Create nuevo usuario</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
