{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id usuario</th>
                <td>{{ usuario.idUsuario }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ usuario.usuario }}</td>
            </tr>
            <tr>
                <th>Contraseña</th>
                <td>{{ usuario.contrasenia }}</td>
            </tr>
            <tr>
                <th>Rol</th>
                <td>{{ usuario.rol }}</td>
            </tr>
            <tr>
                <th>Usuario de creación</th>
                <td>{{ usuario.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{% if usuario.fechaCreacion %}{{ usuario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualización</th>
                <td>{{ usuario.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualización</th>
                <td>{% if usuario.fechaActualizacion %}{{ usuario.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuario_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('usuario_edit', { 'idUsuario': usuario.idUsuario }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
