{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id contacto</th>
                <td>{{ contacto.idContacto }}</td>
            </tr>
            <tr>
                <th>Longitud validación</th>
                <td>{{ contacto.longitudValidacion }}</td>
            </tr>
            <tr>
                <th>Digitos validacón</th>
                <td>{{ contacto.digitosValidacion }}</td>
            </tr>
            <tr>
                <th>Usuario de creación</th>
                <td>{{ contacto.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{% if contacto.fechaCreacion %}{{ contacto.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualización</th>
                <td>{{ contacto.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha actualización</th>
                <td>{% if contacto.fechaActualizacion %}{{ contacto.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacto_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('contacto_edit', { 'idContacto': contacto.idContacto }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
