{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contactos list</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Idcontacto</th>
                <th>Longitudvalidacion</th>
                <th>Digitosvalidacion</th>
                <th>Usuariocreacion</th>
                <th>Fechacreacion</th>
                <th>Usuarioactualizacion</th>
                <th>Fechaactualizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td><a href="{{ path('contacto_show', { 'idContacto': contacto.idContacto }) }}">{{ contacto.idContacto }}</a></td>
                <td>{{ contacto.longitudValidacion }}</td>
                <td>{{ contacto.digitosValidacion }}</td>
                <td>{{ contacto.usuarioCreacion }}</td>
                <td>{% if contacto.fechaCreacion %}{{ contacto.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ contacto.usuarioActualizacion }}</td>
                <td>{% if contacto.fechaActualizacion %}{{ contacto.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contacto_show', { 'idContacto': contacto.idContacto }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contacto_edit', { 'idContacto': contacto.idContacto }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contacto_new') }}">Create a new contacto</a>
        </li>
    </ul>
{% endblock %}
