{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>I drol</th>
                <td>{{ rol.idRol }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ rol.descripcion }}</td>
            </tr>
            <tr>
                <th>Usuario de creación</th>
                <td>{{ rol.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{% if rol.fechaCreacion %}{{ rol.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualización</th>
                <td>{{ rol.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualización</th>
                <td>{% if rol.fechaActualizacion %}{{ rol.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rol_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('rol_edit', { 'idRol': rol.idRol }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
