{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tipo Contacto</h1>

    <table calss="table">
        <tbody>
            <tr>
                <th>Id tipocontacto</th>
                <td>{{ tipoContacto.idTipoContacto }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoContacto.nombre }}</td>
            </tr>
            <tr>
                <th>Usuario de creación</th>
                <td>{{ tipoContacto.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualización</th>
                <td>{% if tipoContacto.fechaActualizacion %}{{ tipoContacto.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualización</th>
                <td>{{ tipoContacto.usuarioActualizacion }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tipocontacto_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('tipocontacto_edit', { 'idTipoContacto': tipoContacto.idTipoContacto }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
