{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Archivos</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id archivo</th>
                <th>Nombre</th>
                <th>Usuario de creaci贸n</th>
                <th>Fecha de creaci贸n</th>
                <th>Usuario de actualizaci贸n</th>
                <th>Fecha de actualizaci贸n</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for archivo in archivos %}
            <tr>
                <td><a href="{{ path('archivo_show', { 'idArchivo': archivo.idArchivo }) }}">{{ archivo.idArchivo }}</a></td>
                <td>{{ archivo.nombre }}</td>
                <td>{{ archivo.usuarioCreacion }}</td>
                <td>{% if archivo.fechaCreacion %}{{ archivo.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ archivo.usuarioActualizacion }}</td>
                <td>{% if archivo.fechaActualizacion %}{{ archivo.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <!-- <a href="{{ path('archivo_show', { 'idArchivo': archivo.idArchivo }) }}">show</a> -->
                            <a href="{{ asset('uploads/archivos/' ~ archivo.nombre) }}">Descargar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('archivo_edit', { 'idArchivo': archivo.idArchivo }) }}">Editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%  if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('archivo_new') }}">Crear nuevo Archivo</a>
        </li>
    </ul>
{% endif %}
{% endblock %}
