{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id archivo</th>
                <td>{{ archivo.idArchivo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ archivo.nombre }}</td>
            </tr>
            <tr>
                <th>Usuario de creaci贸n</th>
                <td>{{ archivo.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creaci贸n</th>
                <td>{% if archivo.fechaCreacion %}{{ archivo.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualizaci贸n</th>
                <td>{{ archivo.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualizaci贸n</th>
                <td>{% if archivo.fechaActualizacion %}{{ archivo.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivo_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('archivo_edit', { 'idArchivo': archivo.idArchivo }) }}">Editar</a>
        </li>
        {%  endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
