{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proceso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id proceso</th>
                <td>{{ proceso.idProceso }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proceso.nombre }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{% if proceso.fechaCreacion %}{{ proceso.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualización</th>
                <td>{{ proceso.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualización</th>
                <td>{% if proceso.fechaActualizacion %}{{ proceso.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proceso_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('proceso_edit', { 'idProceso': proceso.idProceso }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
