{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista Empresas</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id empresa</th>
                <th>Nombre</th>
                <th>Identificacion</th>
                <th>Usuario de creaci贸n</th>
                <th>Fecha de creaci贸n</th>
                <th>Usuario de actualizaci贸n</th>
                <th>Fecha de actualizaci贸n</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td><a href="{{ path('empresa_show', { 'idEmpresa': empresa.idEmpresa }) }}">{{ empresa.idEmpresa }}</a></td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.identificacion }}</td>
                <td>{{ empresa.usuarioCreacion }}</td>
                <td>{% if empresa.fechaCreacion %}{{ empresa.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ empresa.usuarioActualizacion }}</td>
                <td>{% if empresa.fechaActualizacion %}{{ empresa.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empresa_show', { 'idEmpresa': empresa.idEmpresa }) }}">mostrar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('empresa_edit', { 'idEmpresa': empresa.idEmpresa }) }}">editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('empresa_new') }}">Create nueva empresa</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
