{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario Sucursal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id usuariosucursal</th>
                <td>{{ usuarioSucursal.idUsuarioSucursal }}</td>
            </tr>
            <tr>
                <th>Usuario de creaci贸n</th>
                <td>{{ usuarioSucursal.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creaci贸n</th>
                <td>{% if usuarioSucursal.fechaCreacion %}{{ usuarioSucursal.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualizaci贸n</th>
                <td>{{ usuarioSucursal.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualizaci贸n</th>
                <td>{% if usuarioSucursal.fechaActualizacion %}{{ usuarioSucursal.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('usuariosucursal_index') }}">Regresar</a>
        </li>
        <li>
            <a href="{{ path('usuariosucursal_edit', { 'idUsuarioSucursal': usuarioSucursal.idUsuarioSucursal }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
