{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Sucursales</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id sucursal</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Usuario de creación</th>
                <th>Fecha de creación</th>
                <th>Usuario de actualización</th>
                <th>Fecha de actualización</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for sucursal in sucursals %}
            <tr>
                <td><a href="{{ path('sucursal_show', { 'idSucursal': sucursal.idSucursal }) }}">{{ sucursal.idSucursal }}</a></td>
                <td>{{ sucursal.nombre }}</td>
                <td>{{ sucursal.direccion }}</td>
                <td>{{ sucursal.usuarioCreacion }}</td>
                <td>{% if sucursal.fechaCreacion %}{{ sucursal.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ sucursal.usuarioActualizacion }}</td>
                <td>{% if sucursal.fechaActualizacion %}{{ sucursal.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sucursal_show', { 'idSucursal': sucursal.idSucursal }) }}">mostrar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('sucursal_edit', { 'idSucursal': sucursal.idSucursal }) }}">editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('sucursal_new') }}">Create nuevo sucursal</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
