{% extends 'base.html.twig' %}

{% block body %}
    <h1>Atencion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idatencion</th>
                <td>{{ atencion.idAtencion }}</td>
            </tr>
            <tr>
                <th>Secuencial</th>
                <td>{{ atencion.secuencial }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ atencion.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if atencion.fechaCreacion %}{{ atencion.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioactualizacion</th>
                <td>{{ atencion.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if atencion.fechaActualizacion %}{{ atencion.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('atencion_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('atencion_edit', { 'idAtencion': atencion.idAtencion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
