{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contacto Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id clientecontacto</th>
                <td>{{ clienteContacto.idClienteContacto }}</td>
            </tr>
            <tr>
                <th>Usuario de creaci贸n</th>
                <td>{{ clienteContacto.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fecha de creaci贸n</th>
                <td>{% if clienteContacto.fechaCreacion %}{{ clienteContacto.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuario de actualizaci贸n</th>
                <td>{{ clienteContacto.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fecha de actualizaci贸n</th>
                <td>{% if clienteContacto.fechaActualizacion %}{{ clienteContacto.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientecontacto_index') }}">Regresar</a>
        </li>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('clientecontacto_edit', { 'idClienteContacto': clienteContacto.idClienteContacto }) }}">Editar</a>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
