{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista Estado de Atención</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id estadoatencion</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for estadoAtencion in estadoAtencions %}
            <tr>
                <td><a href="{{ path('estadoatencion_show', { 'idEstadoAtencion': estadoAtencion.idEstadoAtencion }) }}">{{ estadoAtencion.idEstadoAtencion }}</a></td>
                <td>{{ estadoAtencion.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('estadoatencion_show', { 'idEstadoAtencion': estadoAtencion.idEstadoAtencion }) }}">mostrar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('estadoatencion_edit', { 'idEstadoAtencion': estadoAtencion.idEstadoAtencion }) }}">editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('estadoatencion_new') }}">Create nuevo estado de atención</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
