{% extends 'base.html.twig' %}

{% block body %}
    <h1>Archivo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idarchivo</th>
                <td>{{ archivo.idArchivo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ archivo.nombre }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ archivo.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if archivo.fechaCreacion %}{{ archivo.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioactualizacion</th>
                <td>{{ archivo.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if archivo.fechaActualizacion %}{{ archivo.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('archivo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('archivo_edit', { 'idArchivo': archivo.idArchivo }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
