{% extends 'base.html.twig' %}

{% block body %}
    <h1>Atenciondetalle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idatenciondetalle</th>
                <td>{{ atencionDetalle.idAtencionDetalle }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ atencionDetalle.descripcion }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ atencionDetalle.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if atencionDetalle.fechaCreacion %}{{ atencionDetalle.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioactualizacion</th>
                <td>{{ atencionDetalle.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if atencionDetalle.fechaActualizacion %}{{ atencionDetalle.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('atenciondetalle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('atenciondetalle_edit', { 'idAtencionDetalle': atencionDetalle.idAtencionDetalle }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
