{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sucursal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idsucursal</th>
                <td>{{ sucursal.idSucursal }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sucursal.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ sucursal.direccion }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ sucursal.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if sucursal.fechaCreacion %}{{ sucursal.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioactualizacion</th>
                <td>{{ sucursal.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if sucursal.fechaActualizacion %}{{ sucursal.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sucursal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sucursal_edit', { 'idSucursal': sucursal.idSucursal }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
