{% extends 'base.html.twig' %}

{% block body %}
    <h1>Area</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idarea</th>
                <td>{{ area.idArea }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ area.nombre }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ area.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if area.fechaCreacion %}{{ area.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarioactualizacion</th>
                <td>{{ area.usuarioActualizacion }}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if area.fechaActualizacion %}{{ area.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('area_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('area_edit', { 'idArea': area.idArea }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
