{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Clientes</h1>

    <input type="text" id="buscar_item" onkeyup="buscar()" placeholder="Buscar.." title="Ingrese para buscar">

    <table class="table" id="tabla">
        <thead>
            <tr>
                <th>Id cliente</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Usuario de creación</th>
                <th>Fecha de actualización</th>
                <th>Usuario de actualización</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'idCliente': cliente.idCliente }) }}">{{ cliente.idCliente }}</a></td>
                <td>{{ cliente.nombre1 }}</td>
                <td>{{ cliente.nombre2 }}</td>
                <td>{{ cliente.apellido1 }}</td>
                <td>{{ cliente.apellido2 }}</td>
                <td>{{ cliente.usuarioCreacion }}</td>
                <td>{% if cliente.fechaActualizacion %}{{ cliente.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ cliente.usuarioActualizacion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cliente_show', { 'idCliente': cliente.idCliente }) }}">mostrar</a>
                        </li>
                        {%  if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('cliente_edit', { 'idCliente': cliente.idCliente }) }}">editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        {%  if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('cliente_new') }}">Create nuevo cliente</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
